
body {
  background-color: black;
   background-image: url("milky-way-starry-sky-night-sky-star-957061.jpeg");
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: 'Trebuchet MS', sans-serif;
}
#ad1, #ad2, #ad3, #ad4,  #ad5, #adv6 {
  height: 23%;
  width: 11%;
  border: 2px solid #9ecaed;
  border-width: 10px;
  box-shadow: 0 0 40px 5px #9ecaed;
  border-radius: 20px;
  animation: bglow 2s ease-in-out infinite alternate;
}
#ad1{
  position: absolute;
  top: 11%;
}
#ad2{
  position: absolute;
  top: 38%;
}
#ad3{
  position: absolute;
  top: 65%;
}

#ad4{
  position: absolute;
  right: 0.7%;
  top: 11%;
}


#ad5{
  position: absolute;
  right: 0.7%;
  top: 38%;
}
#adv6{
  position: absolute;
  right: 0.7%;
  top: 65%;
}

#options{
  margin-bottom: 1000px;
  padding: 15px;
  position: absolute;
  width: 58%;
  height: 70%;
  top: 12%;
  left: 19.5%;
  background-color:#262626;
  border: 2px solid #9ecaed;
  border-width: 10px;
  box-shadow: 0 0 40px 5px #9ecaed;
  border-radius: 20px;
  color: white;
  text-align: center;
  animation: bglow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes bglow {
  from {
    border-color: #9ecaed;
  }

  to {
    border-color: #3a7dcf;
  }
}
#options .game-options{
  text-align:left;

}
#options .submitholder {
    text-align: center;
}
label, dd{
  font-size: 12px;
}
input[type="text"]{
  font-family: 'Trebuchet MS', sans-serif;
  border: 2px solid blue;
  border-radius: 12px;
  transition-duration: .5s;
}
input[type="text"]:hover{
  border: 2px solid red;
  box-shadow: 0 0 10px red;
}
input[type="text"]:focus{

  box-shadow: 0 0 20px red;
  outline: none;
}
.submitter {
  color: white;
  border-radius: 20px;
  width: 150px;
  height:50px;
  font-family: 'Orbitron', sans-serif;
  background: #0000ff;
  transition: background .4s;
}
.submitter:hover{
  background:#000080;
}
.submitter1 {
  color: white;
  border-radius: 20px;
  width: 150px;
  height:50px;
  font-family: 'Orbitron', sans-serif;
  background: green;
  transition: background .4s;
}
.submitter1:hover{
  background: #003300;
}
.submitter2 {
  color: white;
  border-radius: 20px;
  width: 150px;
  height:50px;
  font-family: 'Orbitron', sans-serif;
  background: red;
  transition: background .4s;
}
.submitter2:hover{
  background: #4d0000;
}
.submitter3 {
  color: white;
  border-radius: 20px;
  width: 150px;
  height:50px;
  font-family: 'Orbitron', sans-serif;
  background: purple;
  transition: background .4s;
}
.submitter3:hover{
  background: #400080;
}
.zen {
  color: white;
  border-radius: 20px;
  width: 150px;
  height:50px;
  font-family: 'Orbitron', sans-serif;
  background: black;
  transition: background .4s;
}
.zen:hover{
  background: white;
  color: black;
}
.endgamer {
  position: absolute;
  top: 5px;
  left: 115px;
  color: white;
  border-radius: 20px;
  width: 150px;
  height:50px;
  font-family: 'Orbitron', sans-serif;
  background: #FF6600;
  transition: background .4s;
}
.endgamer:hover{
  background: #b24700;
}
#jupiter{
  column-count: 2;
}
#dur{
  text-align: center;
}
#expression{
  position: absolute;
  top: 35%;
  left: 0%;
  width: 98.6%;
  height: 13%;
  color: white;
  background-color: #262626;
  border: 2px solid #32CD32;
  border-width: 10px;
  box-shadow: 0 0 40px 5px #32CD32;
  border-radius: 20px;
  text-align:center;
  animation: bglow2 2s ease-in-out infinite alternate;
}
#org{
  position: relative;
  top: 25%;
}
#prob{
  display: inline;
}
#answer{
  height: 50px;
  display: inline;
  border-radius: 5px;
  font-size: 30px;
  width: 150px;
  transition-duration: .5s;
}
#basec{
  display: inline;
}
#answer:hover{
  border: 2px solid blue;
  box-shadow: 0 0 10px green;
}
#answer:focus{

  box-shadow: 0 0 20px blue;
  outline: none;
}
#scoreboard{
  position: absolute;
  top: 22.5%;
  left: 37%;
  background-color: #262626;
  border: 2px solid #32CD32;
  border-width: 10px;
  box-shadow: 0 0 40px 5px #32CD32;
  border-radius: 20px 20px 0px 0px;
  color: white;
  width: 25%;
  height: 10%;
  animation: bglow2 2s ease-in-out infinite alternate;
}
@-webkit-keyframes bglow2 {
  from {
    border-color: #32CD32;
  }

  to {
    border-color: #2bb32b;
  }
}
#scoreboard #timer{
  position: absolute;
  top: 9%;
  left: 5%;
}
#scoreboard #score{
  position: absolute;
  top: 9%;
  left: 75%;
}
#scoreboard #score1{
  position: absolute;
  top: 9%;
  left: 40%;
}
#endgame{
  position: absolute;
  top: 105%;
  left: 37%;
  background-color: #262626;
  border: 2px solid #32CD32;
  border-width: 10px;
  box-shadow: 0 0 40px 5px #32CD32;
  border-radius: 0px 0px 20px 20px;
  color: white;
  width: 25%;
  height: 60%;
  animation: bglow2 2s ease-in-out infinite alternate;
}
#endgame .endgamer{
  position: relative;
  left: 1%;
  top: 8%;
}
#privacy{
  margin-top: 20px;
  position: absolute;
  bottom: 0%;
  left: 24%;
  border: 2px solid red;
  border-width: 3px;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  background-color: #262626;
}
#privacy #pri{
  background-color: black;
  color: white;
  border-radius: 10px;
}
#privacy #disc{
  background-color: black;
  color: white;
  border-radius: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-height: 1045px) {

  #privacy{
    bottom: -5%;
  }
}
@media screen and (max-height: 765px) {
  #options{
    height: 80%;
  }
  #privacy{
    bottom: -20%;
  }
}
@media screen and (max-height: 610px) {
  #options{
    height: 100%;
  }
  #privacy{
    bottom: -40%;
  }
}
@media screen and (max-height: 588px) {
  #options{
    height: 100%;
  }
  #privacy{
    bottom: -50%;
  }
}
@media screen and (max-height: 480px) {
  #options{
    height: 120%;
  }
  #privacy{
    bottom: -70%;
  }
}
@media screen and (max-height: 400px) {
  #options{
    height: 140%;
  }
  #privacy{
    bottom: -100%;
  }
}
@media screen and (max-height: 345px) {
  #options{
    height: 150%;
  }
  #privacy{
    bottom: -120%;
  }
}
@media screen and (max-width: 1370px ) and (max-height: 818px) {
  #options{
    height: 90%;
  }
  #privacy{
    bottom: -30%;
  }
}
@media screen and (max-width: 1165px ) and (max-height: 645px) {
  #options{
    height: 120%;
  }
  #privacy{
    bottom: -60%;
  }
}
@media screen and (max-width: 1106px ) and (max-height: 604px) {
  #options{
    height: 170%;
  }
  #privacy{
    bottom: -120%;
  }
}
@media screen and (max-width: 1033px ) and (max-height: 569px) {
  #options{
    height: 220%;
  }
  #privacy{
    bottom: -180%;
  }
}
@media screen and (max-width: 1001px ) and (max-height: 532px) {
  #options{
    height: 270%;
  }
  #privacy{
    bottom: -240%;
  }
}
@media screen and (max-width: 633px ) and (max-height: 440px) {
  #options{
    height: 320%;
  }
  #privacy{
    bottom: -300%;
  }
}
