body {
  background-color: #111111;
  /* background-image: url("milky-way-starry-sky-night-sky-star-957061.jpeg"); */
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
}
#ad1, #ad4  {
  height: 600px;
  width: 120px;
  border: 2px solid #9ecaed;
  border-width: 10px;

  border-radius: 20px;
  animation: bglow 2s ease-in-out infinite alternate;
  background-color:#262626;
}
#adv7{
  border: 2px solid #9ecaed;
  border-width: 10px;

  border-radius: 20px;
  animation: bglow 2s ease-in-out infinite alternate;
  background-color:#262626;
  height: 250px;
  width: 970px;
  position: absolute;
  top: 105%;
  margin-l
}
#ad1{
  position: absolute;
  top: 11%;
  left: 0%;
}
#ad2{
  position: absolute;
  top: 38%;
}
#adv8{
  position: absolute;
  top: 24.5%;
}
#ad3{
  position: absolute;
  top: 65%;
}
#adv9{
  position: absolute;
  top: 51.5%;
}
#ad4{
  position: absolute;
  right: 0%;
  top: 11%;
}


#ad5{
  position: absolute;
  right: 0.7%;
  top: 38%;
}
#adv6{
  position: absolute;
  right: 0.7%;
  top: 65%;
}
#adv10{
  position: absolute;
  right: 0.7%;
  top: 24.5%;
}
#adv11{
  position: absolute;
  right: 0.7%;
  top: 51.5%;
}
#options{
  display: flex;
  justify-content: center;
  padding: 15px;
  position: absolute;
  width: 58%;

  top: 10%;
  left: 19.5%;
  background-color:#262626;
  border: 2px solid #9ecaed;
  border-width: 10px;

  border-radius: 20px;
  color: white;
  text-align: center;
  animation: bglow 2s ease-in-out infinite alternate;
  
}

@-webkit-keyframes bglow {
  from {
    border-color: #9ecaed;
  }

  to {
    border-color: #3a7dcf;
  }
}
#options .game-options{
  text-align:left;

}
#options .submitholder {
    text-align: center;
}
label, dd{
  font-size: 12px;
}
.o1, #answer{
  font-family: 'Trebuchet MS', sans-serif;
  border: 2px solid blue;
  border-radius: 12px;
  transition-duration: .5s;
}
.o1:hover, #answer:hover{
  border: 2px solid blue;
  box-shadow: 0 0 10px blue;
}
.o1:focus, #answer:focus{
  box-shadow: 0 0 20px blue;
  outline: none;
}
.submitter {
  color: white;
  border-radius: 20px;
  min-width: 150px;
  min-height:50px;
  font-family: 'Orbitron', sans-serif;
  background: #0000ff;
  transition: background .4s;
}
.submitter:hover{
  background:#000080;
}
.submitter1 {
  color: white;
  border-radius: 20px;
  min-width: 150px;
  min-height:50px;
  font-family: 'Orbitron', sans-serif;
  background: green;
  transition: background .4s;
}
.submitter1:hover{
  background: #003300;
}
.submitter2 {
  color: white;
  border-radius: 20px;
  min-width: 150px;
  min-height:50px;
  font-family: 'Orbitron', sans-serif;
  background: red;
  transition: background .4s;
}
.submitter2:hover{
  background: #4d0000;
}
.submitter3 {
  color: white;
  border-radius: 20px;
  min-width: 150px;
  min-height:50px;
  font-family: 'Orbitron', sans-serif;
  background: purple;
  transition: background .4s;
}
.submitter3:hover{
  background: #400080;
}
.zen {
  color: white;
  border-radius: 20px;
  min-width: 150px;
  min-height:50px;
  font-family: 'Orbitron', sans-serif;
  background: black;
  transition: background .4s;
}
.zen:hover{
  background: white;
  color: black;
}
.endgamer {
  position: absolute;
  top: 5px;
  left: 115px;
  color: white;
  border-radius: 20px;
  min-width: 150px;
  min-height:50px;
  font-family: 'Orbitron', sans-serif;
  background: #FF6600;
  transition: background .4s;
}
.endgamer:hover{
  background: #b24700;
}
#jupiter{
  column-count: 2;
}
#dur{
  text-align: center;
}
#expression{
  position: absolute;
  top: 20%;
  left: 0%;
  min-width: 100%;
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#org{
  display: flex;
  position: absolute;
  top: 40%;
  min-width: 98.6%;
  min-height: 30%;
  color: white;
  background-color: #262626;
  border: 2px solid #32CD32;
  border-width: 10px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  animation: bglow2 2s ease-in-out infinite alternate;
  cursor: default;
  z-index: 2;
  font-family: 'Orbitron', sans-serif;
}
#prob{
  display: inline;
}
#answer{
  height: 50px;
  display: inline;
  background-color: black;
  color: white;
  border-radius: 10px;
  border-width: 2px;
  font-size: 30px;
  width: 150px;
  transition-duration: .5s;
  font-family: 'Orbitron', sans-serif;
}
#basec{
  display: inline;
  font-family: 'Orbitron', sans-serif;
}
#answer:hover{
  border: 5px solid blue;

}
#answer:focus{
  border-width: 10px;

  outline: none;
}
#scoreboard{
  cursor: default;
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  border: 2px solid #32CD32;
  border-width: 10px;
  font-family: 'Orbitron', sans-serif;
  border-radius: 20px 20px 0px 0px;
  color: white;
  min-width: 25%;
  min-height: 30%;
  animation: bglow2 2s ease-in-out infinite alternate;
  z-index: 1;
}
@-webkit-keyframes bglow2 {
  from {
    border-color: #32CD32;
  }

  to {
    border-color: #2bb32b;
  }
}
#scoreboard #timer{
  position: absolute;
  left: 12%;
}
#scoreboard #score{
  position: absolute;

  left: 65%;
}
#endgame{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 67%;
  background-color: #262626;
  border: 2px solid #32CD32;
  border-width: 10px;
  border-radius: 0px 0px 20px 20px;
  color: white;
  min-width: 25%;
  min-height: 30%;
  animation: bglow2 2s ease-in-out infinite alternate;
  z-index: 1;
}
#endgame .endgamer{
  position: relative;
  left: 1%;
}
#privacy{
  position: absolute;
  bottom: 0%;
  left: 24%;
  border: 2px solid #9ecaed;
  border-width: 3px;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  background-color: #262626;
  animation: bglow 2s ease-in-out infinite alternate;
}
#privacy #pri{
  background-color: red;
  color: white;
  border-radius: 10px;
  font-family: 'Orbitron', sans-serif;
  transition: background .4s;
}
#privacy #disc{
  background-color: red;
  color: white;
  border-radius: 10px;
  font-family: 'Orbitron', sans-serif;
  transition: background .4s;
}
#privacy #disc:hover, #privacy #pri:hover{
  background: #4d0000;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F03535;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #475BF4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.game-options{
  display: block;
}
#result{
  color: white;
  background-color: #262626;
  border: 2px solid #32CD32;
  border-width: 10px;
  border-radius: 20px;
  text-align: center;
  padding: 1%;
  min-width: 20%;
  min-height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
}
#adr1, #adr2, #adr3, #adr4, #adr5, #adr6{
  height: 250px;
  width: 300px;
  background-color: #262626;
  border: 2px solid #32CD32;
  border-width: 10px;
  border-radius: 20px;
  margin-left: 75px;
  margin-right: 75px;
}
#resultc{
  display: flex;
  height: 100%;
  position: absolute;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#adrow1{
  display: flex;
  flex-direction:row;
  justify-content: center;

}
#adrow2{
  display: flex;
  flex-direction:row;
  justify-content: center;
}
#topnav {
  overflow: hidden;
  background-color: #002439;
  position: absolute;
  right: -2%;
  min-width: 60%;
  top: 0%;
  bottom: 92.5%;
  box-shadow: 0 0 2px 1px blue;
  z-index: 1;
  margin-bottom: 0px;
  border: 2px solid #9ecaed;
  border-width: 5px;
  animation: bglow 2s ease-in-out infinite alternate;
  border-radius: 20px;
}
#topnav a {
  font-family: 'Orbitron', sans-serif;
  float: left;
  color: #f2f2f2;
  padding: .2% 2%;
  text-decoration: none;
  font-size: 17px;
  border-right: 5px solid #9ecaed;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bglow 2s ease-in-out infinite alternate;
}

#topnav a:hover {
  background-color: #4e7988;
  color: black;
}

#topnav a.active {
  background-color: #005066;
  color: #78cce2;
}
#mta{
  background-color: #222222;
  position: absolute;
  top: 9%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  min-height: 122%;
  min-width: 102%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top: 10px solid #9ecaed;
  border-bottom: 10px solid #9ecaed;
  animation: bglow 2s ease-in-out infinite alternate;
  z-index: 1;
}
#choices{
  background-color:#262626;
  position: absolute;
  top: 9%;
  left: 24%;
  right: 24%;
  display: flex;
  justify-content: center;
  border: 10px solid #9ecaed;
  z-index: 2;
  border-radius: 2%;
  animation: bglow 2s ease-in-out infinite alternate;
  width: 50%;
  color: white;
  padding: 1%;
  text-align: center;

}
#memorygames{
  position:relative;
  text-align: center;
  width: 100%;
  min-height: 50%;
  padding: 10px;
}

#pi {
  cursor: pointer;
  color: red;
  background-color: orange;
  border: none;
  border-radius: 90px;
  box-shadow: 0 9px #FF3D14;
  width: 30%;
  height: 50%;
  font-size: 100px;
}
#eee{
  cursor: pointer;
  color: white;
  background-color: green;
  border: none;
  border-radius: 90px;
  box-shadow: 0 9px #003300;
  width: 30%;
  height: 50%;
  font-size: 100px;
}
#eee:hover{
  background-color: #003803;
}
#sqrt2{
  cursor: pointer;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 90px;
  box-shadow: 0 9px #000066;
  font-size: 100px;
  width: 30%;
  height: 50%;
}
#sqrt2:hover{
  background-color: #000f61;
}
#phi{
  cursor: pointer;
  color: black;
  background-color: #FFD700;
  border: none;
  border-radius: 90px;
  box-shadow: 0 9px black;
  font-size: 100px;
  width: 30%;
  height: 50%;
}
#phi:hover{
  background-color: #DAA520;
}

#m2{
  margin-top: 20px;
  margin-bottom: 20px;
}
#pi:hover {background-color: #ff6220;}

#pi:active {
  background-color: #FF3300;
  box-shadow: 0 5px #FF3D14;
  transform: translateY(4px);
}
#eee:active {
  background-color: #003300;
  box-shadow: 0 5px #003300;
  transform: translateY(4px);
}
#sqrt2:active {
  background-color: #000066;
  box-shadow: 0 5px #000066;
  transform: translateY(4px);
}
#phi:active {
  background-color: #FF8C00;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

#digitsofpi{
  position: absolute;
  top: 20%;
  left: 0%;
  min-width: 100%;
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pigame1{
  font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    min-width: 98.6%;
    min-height: 30%;
    color: white;
    background-color: #262626;
    border: 2px solid orange;
    border-width: 10px;
    border-radius: 20px;
    animation: bglow3 2s ease-in-out infinite alternate;
    cursor: default;
    text-align: center;
    z-index: 2;
}
@-webkit-keyframes bglow3 {
  from {
    border-color: orange;
  }

  to {
    border-color: #EC5800;
  }
}
#first{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  background-color: #262626;
  left: 19%;
  position: absolute;
  height: 60%;
  width: 5%;
  border: 5px solid red;
  border-radius: 20%;
  animation: bglow4 5s ease-in-out infinite alternate;
}
#second{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  background-color: #262626;
  left: 26%;
  position: absolute;
  height: 60%;
  width: 5%;
  border: 5px solid red;
  border-radius: 20%;
  animation: bglow4 5s ease-in-out infinite alternate;
}

#third{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  background-color: #262626;
  left: 33%;
  position: absolute;
  height: 60%;
  width: 5%;
  border: 5px solid red;
  border-radius: 20%;
  animation: bglow4 5s ease-in-out infinite alternate;
}

#fourth{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  background-color: #262626;
  left: 40%;
  position: absolute;
  height: 60%;
  width: 5%;
  border: 5px solid red;
  border-radius: 20%;
  animation: bglow4 5s ease-in-out infinite alternate;
}

#fifth{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  background-color: #262626;
  left: 47%;
  position: absolute;
  height: 60%;
  width: 5%;
  border: 5px solid red;
  border-radius: 20%;
  animation: bglow4 5s ease-in-out infinite alternate;
}
@-webkit-keyframes bglow4 {
  from {
    border-color: red;
  }

  to {
    border-color: #660000;
  }
}
#thirdtext{
  font-family: 'Orbitron', sans-serif;
  height: 90%;
  width: 100%;
  border-radius: 15%;
  background-color: #262626;
  border: 2px solid black;
  color: white;
  font-size: 100%;
  text-align: center;

}
#thirdtext:hover{

}
#thirdtext:focus{
  border: 3px solid red;
  outline: none;
}
#scoreboard1{
  cursor: default;
    position: absolute;
    top: 10%;
    right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    border: 2px solid orange;
    border-width: 10px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 20px 20px 0px 0px;
    color: white;
    min-width: 25%;
    min-height: 30%;
    animation: bglow3 2s ease-in-out infinite alternate;
    z-index: 1;
}
#scoreboardtimer{
  cursor: default;
    position: absolute;
    top: 10%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    border: 2px solid orange;
    border-width: 10px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 20px 20px 0px 0px;
    color: white;
    min-width: 25%;
    min-height: 30%;
    animation: bglow3 2s ease-in-out infinite alternate;
    z-index: 1;
}
#endgame1{
  position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 67%;
    background-color: #262626;
    border: 2px solid orange;
    border-width: 10px;
    border-radius: 0px 0px 20px 20px;
    color: white;
    min-width: 25%;
    min-height: 30%;
    animation: bglow3 2s ease-in-out infinite alternate;
    text-align: center;
    z-index: 1;
}
.reset{
  color: white;
  border-radius: 20px;
  min-width: 20%;
  min-height: 50%;
  font-family: 'Orbitron', sans-serif;
  background: #2E8AFF;
  transition: background .4s;
  position: absolute;
  left: 10%;
  top: 27%;
}
.reset:hover{
  background: #0000FF;
}
.memoryback{
  color: white;
  border-radius: 20px;
  min-width: 20%;
  min-height:50%;
  font-family: 'Orbitron', sans-serif;
  background: #006600;
  transition: background .4s;
  position: absolute;
  right: 10%;
  top: 27%;
}
.memoryback:hover{
  background:  #408c40;
}
#scoreboardtimer1{
  cursor: default;
  position: absolute;
  top: 10%;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  border: 2px solid #0000ff;
  border-width: 10px;
  font-family: 'Orbitron', sans-serif;
  border-radius: 20px 20px 0px 0px;
  color: white;
  min-width: 25%;
  min-height: 30%;
  animation: bglow5 2s ease-in-out infinite alternate;
  z-index: 1;
}
#scoreboard2{
  cursor: default;
  position: absolute;
  top: 10%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  border: 2px solid #0000ff;
  border-width: 10px;
  font-family: 'Orbitron', sans-serif;
  border-radius: 20px 20px 0px 0px;
  color: white;
  min-width: 25%;
  min-height: 30%;
  animation: bglow5 2s ease-in-out infinite alternate;
  z-index: 1;
}
#sqrtgame{
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  min-width: 98.6%;
  min-height: 30%;
  color: white;
  background-color: #262626;
  border: 2px solid #0000ff;
  border-width: 10px;
  border-radius: 20px;
  animation: bglow5 2s ease-in-out infinite alternate;
  cursor: default;
  text-align: center;
  z-index: 2;
}
#endgame2{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 67%;
  background-color: #262626;
  border: 2px solid #0000ff;
  border-width: 10px;
  border-radius: 0px 0px 20px 20px;
  color: white;
  min-width: 25%;
  min-height: 30%;
  animation: bglow5 2s ease-in-out infinite alternate;
  text-align: center;
  z-index: 1;
}
@-webkit-keyframes bglow5 {
  from {
    border-color: #0000ff;
  }

  to {
    border-color: #6699ff;
  }
}

#scoreboardtimer2{
  cursor: default;
  position: absolute;
  top: 10%;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  border: 2px solid #006117;
  border-width: 10px;
  font-family: 'Orbitron', sans-serif;
  border-radius: 20px 20px 0px 0px;
  color: white;
  min-width: 25%;
  min-height: 30%;
  animation: bglow6 2s ease-in-out infinite alternate;
  z-index: 1;
}
#scoreboard3{
  cursor: default;
  position: absolute;
  top: 10%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  border: 2px solid #006117;
  border-width: 10px;
  font-family: 'Orbitron', sans-serif;
  border-radius: 20px 20px 0px 0px;
  color: white;
  min-width: 25%;
  min-height: 30%;
  animation: bglow6 2s ease-in-out infinite alternate;
  z-index: 1;
}
#egame{
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  min-width: 98.6%;
  min-height: 30%;
  color: white;
  background-color: #262626;
  border: 2px solid #006117;
  border-width: 10px;
  border-radius: 20px;
  animation: bglow6 2s ease-in-out infinite alternate;
  cursor: default;
  text-align: center;
  z-index: 2;
}
#endgame3{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 67%;
  background-color: #262626;
  border: 2px solid #006117;
  border-width: 10px;
  border-radius: 0px 0px 20px 20px;
  color: white;
  min-width: 25%;
  min-height: 30%;
  animation: bglow6 2s ease-in-out infinite alternate;
  text-align: center;
  z-index: 1;
}
@-webkit-keyframes bglow6 {
  from {
    border-color: #006117;
  }

  to {
    border-color: #009933;
  }
}
#scoreboardtimerphi{
  cursor: default;
  position: absolute;
  top: 10%;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  border: 2px solid #FFD700;
  border-width: 10px;
  font-family: 'Orbitron', sans-serif;
  border-radius: 20px 20px 0px 0px;
  color: white;
  min-width: 25%;
  min-height: 30%;
  animation: bglow7 2s ease-in-out infinite alternate;
  z-index: 1;
}
#scoreboard1phi{
  cursor: default;
  position: absolute;
  top: 10%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  border: 2px solid #FFD700;
  border-width: 10px;
  font-family: 'Orbitron', sans-serif;
  border-radius: 20px 20px 0px 0px;
  color: white;
  min-width: 25%;
  min-height: 30%;
  animation: bglow7 2s ease-in-out infinite alternate;
  z-index: 1;
}
#phigame1{
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  min-width: 98.6%;
  min-height: 30%;
  color: white;
  background-color: #262626;
  border: 2px solid #FFD700;
  border-width: 10px;
  border-radius: 20px;
  animation: bglow7 2s ease-in-out infinite alternate;
  cursor: default;
  text-align: center;
  z-index: 2;
}
#endgame1phi{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 67%;
  background-color: #262626;
  border: 2px solid #FFD700;
  border-width: 10px;
  border-radius: 0px 0px 20px 20px;
  color: white;
  min-width: 25%;
  min-height: 30%;
  animation: bglow7 2s ease-in-out infinite alternate;
  text-align: center;
  z-index: 1;
}
@-webkit-keyframes bglow7 {
  from {
    border-color: #FFD700;
  }

  to {
    border-color: #996515;
  }
}
